@model IEnumerable<Hospice.Models.FileViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="row">

    <div class="page-header">
        <h1>Resources</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Files | Upload | Download<span class="widget-icon-right glyphicon glyphicon-cog"></span></div>
            <div class="panel-body">
            <h2>File List</h2>
            <h4>Upload New File</h4>
            <p>
                @using (Html.BeginForm("Index", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label for="fileDescription">Description:</label> <input type="text" name="fileDescription" /><br />
                    <input type="file" name="FileUpload1" /><br />
                    <input type="submit" name="Submit" id="Submit" value="Upload" />
                }
            </p>
            <div class="row">
                <div class="col-xs-12 col-sm-10  col-sm-push-1">
                   <br />
                       

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Folder Name 
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <!--  <a href="#" type="button" class="btn btn-success showfile">  <span class="widget-icon-right glyphicon glyphicon-folder-open"> </span>  Folder Icon  </a><br /> --->

                                    <a href="#" class="showfile"> <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Folder Icon  </a><br />
                            <div class="row fileList">
                                <br />
                                <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                    <table class="table panel-heading well well-sm ">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FileName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FileDescription)
                                            </th>
                                            <th></th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FileName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FileDescription)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Download", "Download", new { id = item.ID }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <a href="#" class="showfile"> <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Folder Icon  </a><br />  <div class="row fileList">
                                        <br />
                                        <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                            <table class="table panel-heading well well-sm ">
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FileName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FileDescription)
                                                    </th>
                                                    <th></th>
                                                </tr>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FileName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FileDescription)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Download", "Download", new { id = item.ID }) |
                                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                        </td>
                                                    </tr>
                                                }

                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <a href="#" class="showfile"> <span class="widget-icon-left  glyphicon glyphicon-folder-open"> </span> &nbsp; Folder Icon  </a><br />
                                      <div class="row fileList">
                                        <br />
                                        <div class="col-xs-12 col-sm-10  col-sm-push-1">
                                            <table class="table panel-heading well well-sm ">
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FileName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FileDescription)
                                                    </th>
                                                    <th></th>
                                                </tr>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FileName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FileDescription)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Download", "Download", new { id = item.ID }) |
                                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                        </td>
                                                    </tr>
                                                }

                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

             
                    </div>
                </div>
                </div>
</div>
    </div>


