@model Hospice.Models.RegisterViewModel

<div class="page-header">
    <h1>Profile - @User.Identity.Name</h1>
</div>

<div class="row">
    
    <div class="col-xs-3 col-md-2">
        <a href="#" class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/200x200">
        </a>
        <div class="caption">
            <button type="button" class="btn btn-primary col-md-12" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus-sign"></span> Upload Picture
            </button>
        </div>
    </div>

    <div class="col-xs-9 col-md-10">
        <ul class="list-unstyled">
            <li>First Name: @ViewData["FirstName"]</li>
            <li>Last Name: @ViewData["LastName"]</li>
            <li>Phone: @ViewData["Phone"]</li>
            <li>Date Of Birth: @ViewData["DOB"]</li>
            <li>Position: @ViewData["Position"]</li>
            <li>Position Description: @ViewData["PositionDescription"]<br /><p></p></li>
        </ul>
    </div>

    

</div>