@model Hospice.Models.RegisterViewModel

<div class="page-header">
    <h1>Profile - @User.Identity.Name</h1>
</div>

<div class="row">
    
    <div class="col-xs-3 col-md-2">
        <a href="#" class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/200x200">
        </a>
        <div class="caption">
            <button type="button" class="btn btn-primary col-md-12" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus-sign"></span> Upload Picture
            </button>
        </div>
    </div>

    <div class="col-xs-9 col-md-10">
        <ul class="list-unstyled">
            <li>First Name: @ViewData["FirstName"]</li>
            <li>Last Name: @ViewData["LastName"]</li>
            <li>Phone: @ViewData["Phone"]</li>
            <li>Date Of Birth: @ViewData["DOB"]</li>
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Profile Picture</h4>
                </div>
                <div class="modal-body">
                    
                    <h4>Rules of Profile Picture</h4>
                    <ul>
                        <li>Appropriate photo's (Keep it PG)</li>
                        <li>Preferably your actual photo</li>
                    </ul>


                    <!-- Add What is need to make upload work here and the "Upload Button to submit"-->
                    <input type="file" name="FileUpload1" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </div>

</div>