@model IEnumerable<Hospice.Models.ApplicationUser>

<div class="page-header" style="border-bottom:none;">
    <h1>Member List</h1>
</div>

<div class="row">
    <div class="col-md-12">
            <table class="table table-responsive table-hover">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Date Of Birth</th>
                    <th><a href="/Account/Register" class="btn btn-primary col-md-6"><span class="glyphicon-plus-sign glyphicon"></span> User</a></th>
                </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor( modelItem => item.FName) @Html.DisplayFor( modelItem => item.LName)</td>
                    <td>@Html.DisplayFor( modelItem => item.PhoneNumber)</td>
                    <td>@Html.DisplayFor( modelItem => item.DOB)</td>
                    <td><a class="btn btn-default col-md-6" href="@Url.Action("Index","Profile", new { ID = item.Id })"><span class="glyphicon glyphicon-user"></span> View Profiles</a></td>
                </tr>
            }
        </table>
          
        <a href="/Admin/Index" class="btn btn-primary">Back to Admin Controls</a>
    </div>
</div>



