@model IEnumerable<Hospice.Models.ApplicationUser>

<div class="page-header" style="border-bottom:none;">
    <h1>Member List</h1>
</div>

<div class="row">
    <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Date Of Birth</th>
                    <th><a href="/Account/Register" class="btn btn-default btn-blue col-md-5"><span class="glyphicon pull-left glyphicon-plus "></span> Add User</a></th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FName) @Html.DisplayFor(modelItem => item.LName)</td>
                            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.DOB)</td>
                            <td><a class="btn btn-primary col-md-5" href="@Url.Action("Index","Profile", new { ID = item.Id })"><span class="glyphicon pull-left glyphicon-user"></span> View Profiles</a></td>
                        </tr>
                    }
                </tbody>
        </table>
        
          
        <a href="/Admin/Index" class="btn btn-black btn-primary">Back to Admin Controls</a>
    </div>
</div>



